

.addFavBtnP{
border-style: none;
/* border: 1px solid rgb(0, 0, 0); */
border-radius: 3px;
padding: 5px;
color: white;
background-color: rgb(255, 255, 255);
/* background-color: rgb(0, 0, 0); */
font-size: 20px;
margin-left: 34%;
margin-bottom: 353px
}