.allMovies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/*   
  .allMovies:hover{
   cursor: pointer;
   
  }  */
.oneMovie {
  width: 320px;
  height: 400px;
  /* margin: 20px; */
  padding: 10px;
  padding-bottom: 100px;
  margin: 40px 50px 0px 50px;
  transition: 0.5s ease;
  /* background-color: rgba(167, 156, 156, 0.061); */
  text-align: center;
}

.oneMovie h5 {
  margin-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-weight: 600;
  font-size: 20px;

}

.oneMovie:hover {
  transform: scale(1.1) perspective(0.1px);
  cursor: pointer;
}
/*
  .oneMovie{
    width: 310px;
    height: 310px;
    margin: 15px;
    /* background-color: rgba(167, 156, 156, 0.061); */
/* padding-bottom: 80px;
    transition: 0.5s ease; 
    align-items: center;
  } */
/* .allMovies div div {
      margin: 10px;
      width: 200px;
      height: 200px;
      background-color: rgba(167, 156, 156, 0.061);
      padding: 15px;
      transition: 0.5s ease; 
  } */

/* .allMovies div:hover {
    transform: scale(1.04) perspective(0.1px);
  }
  */
.allMovies div img {
  /* margin-top: 30px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
