.allMovies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
/*   
  .allMovies:hover{
   cursor: pointer;
   
  }  */
.oneMovie {
  width: 320px;
  height: 400px;
  /* margin: 20px; */
  padding: 10px;
  padding-bottom: 100px;
  margin: 40px 50px 0px 50px;
  transition: 0.5s ease;
  /* background-color: rgba(218, 218, 218, 0.151);
  border-radius: 10px; */
  text-align: center;
}

.oneMovie h5 {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.oneMovie:hover {
  transform: scale(1.1) perspective(0.1px);
  cursor: pointer;
}

.allMovies div img {
  /* margin-top: 30px; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
}
